{% extends 'layouts/application.html' %}

{% block content %}

  <div class="wrap">
    <div class="section" id="mainSection">
      {% include 'shared/menu.html' %}

      <button class="btn nav__button" id="navMenu">
        <b class="btn__line"></b>
        <b class="btn__line"></b>
        <b class="btn__line"></b>
      </button>

      <main class="content">

        {% include 'shared/header.html' %}

        <div class="row">
          <h1>Avengers Academy Event Tracker <small>{% block event %}{{ site.event }}{% endblock %}</small></h1>
          <p>The Spider-Menace has arrived! And he's brought a lot of new materials to the party. To help you keep track of what's necessary to unlock all the items in this crazy, crazy event, the Event Tracker is back. So start logging the items, and watch that material count start to drop. Good luck!</p>
          <p>To see what's new with the site, please check out the all-new <a href="/changelog.html">Change Log</a>! This will be updated frequently with all new data additions, site changes and bug fixes, as they come in.</p>
          <p>Please feel free to <a href="https://github.com/getignited/avengersacademy-tracker/issues" target="_blank">drop me a line</a> with any feature requests or issues. The Event Tracker is still very much a work in progress to hopefully become a useful tool for the community.</p>
          <p><small>Avengers Academy Event Tracker {% block version %}{{ site.version }}{% endblock %} has been assembled by <a href="https://www.reddit.com/user/getignited" target="_blank">/u/getignited</a>.</small></p>
          <h2>Special Thanks</h2>
          <p>Special thanks to <a href="https://reddit.com/user/umbraetmors" target="_blank">/u/umbraetmors</a>, <a href="https://www.reddit.com/user/SunGodKizaru" target="_blank">/u/SunGodKizaru</a>, <a href="https://www.reddit.com/user/fairyshade" target="_blank">/u/fairyshade</a>, and <a href="https://www.reddit.com/user/noah_drake" target="_blank">/u/noah_drake</a> for <a href="https://www.reddit.com/r/avengersacademygame/search?q=flair_text%3A%27Datamining%27&sort=new&restrict_sr=on&t=all" target="_blank">their frequent Datamining posts</a> and updates.</p>
          <p>Also thanks to <a href="https://www.reddit.com/user/whistend" target="_blank">/u/Whistend</a> and <a href="https://www.reddit.com/user/lblanime" target="_blank">/u/lblanime</a> for their help with obtaining material icons. Its all very appreciated!</p>
        </div>

        {% from 'macros/tile.html' import tile %}

        <article id="trackerApp">
          {% if characters %}
          <section class="section" id="characters">
            <h2>Characters</h2>
            <div class="flex flex__wrap">
            {% for character in characters %}
              {{ tile(character) }}
            {% endfor %}
            </div>
          </section>
          {% endif %}

          {% if costumes %}
          <section class="section" id="costumes">
            <h2>Costumes</h2>
            <div class="flex flex__wrap">
            {% for costume in costumes %}
              {{ tile(costume) }}
            {% endfor %}
            </div>
          </section>
          {% endif %}

          {% if buildings %}
          <section class="section" id="buildings">
            <h2>Event Buildings</h2>
            <div class="flex flex__wrap">
            {% for building in buildings %}
              {{ tile(building) }}
            {% endfor %}
            </div>
          </section>
          {% endif %}

          {% if prizes %}
          <section class="section" id="prizes">
            <h2>Event Prizes</h2>
            <div class="flex flex__wrap">
            {% for prize in prizes %}
              {{ tile(prize) }}
            {% endfor %}
            </div>
          </section>
          {% endif %}

          {% if challenges %}
          <section class="section" id="challenges">
            <h2>Challenges</h2>
            <div class="flex flex__wrap">
            {% for challenge in challenges %}
              {{ tile(challenge) }}
            {% endfor %}
            </div>
          </section>
          {% endif %}
        </article>

        {% include 'shared/footer.html' %}

      </main>
    </div>
  </div>
{% endblock %}
