.event {

  &__item {
    $item: &; 
    position: relative;
    display: inline-block;
    max-width: $item-width-sm-calc;
    flex: 1 $item-width-sm-calc;
    order: 3;
    margin: $item-margin-sm;
    padding: 1%;
    color: $brand-event-color;
    font-size: .8rem;
    font-style: italic;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 2px 0 1.5px $brand-primary-dark,
                0px -.5px 0 1.5px $brand-primary-dark;
    border-radius: 4px 4px 0 4px;
    transition: opacity .1s ease-out,
                background-image .1s ease-out;
    @include gradient-vertical($brand-event-light,
                               $brand-event,
                               0%, 100%);

    &:hover {
      @include gradient-vertical(lighten($brand-event-light, 10%),
                                 lighten($brand-event, 10%),
                                 0%, 100%);
    }

    &[data-frag="currency"],
    &[data-frag="shards"] {
      max-width: initial;
      flex: 2 $item-width-top-sm-calc;
      order: 1;
      font-size: 1rem;

      #{$item}--total {
        display: inline-block;
        margin-right: .4rem;
        vertical-align: baseline;
      }
    }

    @include media-breakpoint-up(md){
      max-width: initial;
      flex: 1 $item-width-md-calc;
      margin: $item-margin-md;

      &[data-frag="currency"],
      &[data-frag="shards"] {
        flex: 2 $item-width-top-md-calc;
      }
    }

    &--zero {
      opacity: .4;
    }

    &--total {
      font-size: 1.2rem;
      font-weight: $font-weight-heavy;
      text-shadow: 0px 0px 1px $brand-primary-dark,
                   0px 1px 1px $brand-primary-dark,
                   0px -1px 1px $brand-primary-dark,
                   1px 1px 1px $brand-primary-dark,
                   -1px 1px 1px $brand-primary-dark,
                   1px -1px 1px $brand-primary-dark,
                   -1px -1px 1px $brand-primary-dark,
                   0px 0px 1px $brand-primary-dark,
                   0px 1px 1px $brand-primary-dark,
                   0px -1px 1px $brand-primary-dark,
                   1px 1px 1px $brand-primary-dark,
                   -1px 1px 1px $brand-primary-dark,
                   1px -1px 1px $brand-primary-dark,
                   -1px -1px 1px $brand-primary-dark;

      &:before {
        content: 'x';
        margin-right: .1rem;
        font-size: 1rem;
      }
    }
  }
}