.input {

  &__check {
    $check: &;
    position: relative;
    //height: $check-height;
    //width: $check-width;

    &--box { display: none; }

    &--label {
      position: relative;
      display: inline-block;
      height: $check-height;
      margin: 0;
      margin-left: ($check-width * 1.5);
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: -($check-height * 1.5);
        display: block;
        height: $check-height;
        width: $check-width;
        border: $border-height solid $brand-event;
        box-sizing: border-box;
        transition: border .1s ease-out;
        outline: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: ($check-height / 4);
        left: -(($check-width * 1.5) / 1.2);
        display: inline-block;
        height: ($check-height / 2);
        width: ($check-width / 2);
        margin: 0 auto;
        background-color: $brand-event;
        border-radius: 50%;
        opacity: 0;
        transition: opacity .1s linear;
      }
      @include media-breakpoint-up(md){
        &:hover,
        &:focus {
          &::before { border: $border-height-sm solid $brand-event; }
        }
      }
    }

    input[type=checkbox]:checked {
      & + #{$check}--label::after {
        opacity: 1;
      }
    }
  }
}