@import "../../node_modules/bootstrap/scss/_nav.scss";

.nav {
  $nav: &;

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: $nav-height;
    width: 100%;
    height: 0;
    padding-top: $spacing-sm;
    background-color: $brand-event-color;
    overflow: hidden;
    transition: transform .3s ease-out, height .3s ease-out;

    &--active {
      height: 100%;
      max-height: 100vh;
    }

    & &__item {
      position: relative;
      display: inline-block;
      width: 100%;
    } 
  }

  @include media-breakpoint-up(md) {
    @include make-col();
    @include make-col-span(10);
  }


  &__wrap {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: $nav-height;
    padding: $spacing-base 0;
    background-color: $white;
    text-align: center;
    border-bottom: 1px solid $grey;
    z-index: 1000;
    box-sizing: border-box;
  }

  &__box {
    @include make-row();
    max-width: 992px;
    margin: 0 auto;
  }

  &__settings {
    @include make-col();
    @include make-col-span(12);
    text-align: left;

    @include media-breakpoint-up(md) {
      @include make-col-span(2);

      & #menuToggle { display: none; }
    }
  }

  &__item {
    display: block;
  }

  &__link {
    padding: ($spacing-sm / 4) $spacing-sm;

    @include media-breakpoint-down(sm) {
      #{$nav}__item & {
        display: inline-block;
        margin-bottom: $spacing-sm;
      }
    }
    @include media-breakpoint-up(md) {
      display: block;
      margin-right: ($spacing-sm / 1.5);
      float: left;
      color: $brand-primary-dark;

      &:last-child{
        margin-right: 0;
      }

      &:hover {
        color: $brand-event;
      }
    }

    &.active {
      background-color: $brand-event;
      color: $brand-event-color;
      border-radius: 100px;
    }
  }

  &__settings {

  }
}