@import "../../node_modules/bootstrap/scss/_nav.scss";

.nav {
  $nav: &;

  @include make-col();
  @include make-col-span(9);
  @include make-col-push(3);
  text-align: right;


  &__wrap {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: $nav-height;
    padding: $spacing-base;
    background-color: $white;
    text-align: center;
    border-bottom: 1px solid $grey;
    z-index: 1000;
    box-sizing: border-box;
  }

  &__box {
    @include make-row();
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    //width: 100%;
    margin-left: $spacing-sm;
    padding: ($spacing-sm / 4) $spacing-sm;
    float: left;
    //background-color: $brand-event;
    color: $brand-primary-dark;
    border-radius: 100px;
    

    &.active {
      background-color: $brand-event;
      color: $brand-event-color;
    }

    #{$nav}__item:nth-child(even) & {
      //background-color: lighten($brand-event, 4%);
    }
  }

  &__settings {

  }
}