h1 {
  margin: $spacing-md 0 $spacing-base 0;
  padding: $spacing-sm 0;
  font-size: $font-h1-size;
  line-height: $font-h1-line-height;
  border-bottom: $border-height solid $brand-event-dark;

  small {
    color: $brand-event;
    font-size: $font-h1-small-size;
    font-weight: $font-weight-light;
  }
}

h2 {
  margin-bottom: $spacing-base;
  font-size: $font-h2-size;
  font-weight: $font-weight-light;
}

p { margin-bottom: $spacing-base; }

.text {
  &--left { text-align: left; }
  &--center { text-align: center; }
  &--right { text-align: right; }
}